*{
  box-sizing:border-box;
}
body{
    background:rgb(182, 224, 206);;
    margin: 0;
    font-family: 'Poppins';
    /* width: 100%; */
 
}

main{
    background-color: rgb(182, 224, 206);;
    width: 800px;
    padding:0px 5px;
    color: #00203fff;
    margin:0 auto;
}
a{
    color: #00203fff;
}
a:hover{
    color: #00203fff;
    font-weight: bold;
}
/* .details{
    font-size: large;
} */

.repos{
    border: 3px solid #00203fff;
    margin-top:20px ;
    border-radius: 15px;
    text-align: center;

}
.navbar{
    display: flex;
    background: #00203fff;
    align-items: center;
    padding: 12px;
}

.navbar> .link{
    color:  rgb(182, 224, 206);;
    margin-left: 15px;
    font-weight: bold;
    text-decoration: underline;
}
.navbar> .link:hover{
    color: aqua;
}
.navbar > .profile-Pic{
    width: 60px;
    height: 80%;
   
}

.navbar> h1{
    margin:5px auto;
    color:  rgb(182, 224, 206);;
}
.repos > h3{
    font-size: 25px;
    font-family: 'inter';
}
.mainPage > p{
    /* width: 200px; */
    height: 40px;
    cursor: pointer;
    font-family: 'inter';
    text-decoration: underline;
}
.mainPage{
    font-family: 'inter';
}

.paginate > button{
    width: 120px;
    height: 36px;
    border-radius: 8px;
    font-family: 'inter';
    border: none;
    margin: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #00203fff;
    color:  rgb(182, 224, 206);;
    cursor: pointer;
}
.paginate> button:hover{
    background: rgba(18, 13, 69, 0.996);
}
.footer{
    
    margin-top:10vh;
    padding: 8px;
    background-color:rgb(0, 31, 63); ;
    color:  rgb(182, 224, 206);
    text-align: center;
}
@media(max-width:500px){
  body{
/*     height:100vh; */
  }
  main{
    width:98%;
  }
  .navbar{
/*     padding:2px; */
    display:flex;
    flex-wrap:wrap;
    
  }
  .navbar> h1{
    order:-1;
    margin:0;
    font-size:1.2rem;
  }
  .repos{
    margin-top:.8em;
/*     padding:1em; */
  }
  .navbar >.profile-Pic{
    display:block;
    margin-left:auto;
  }
  h1,h2,p,h3,h4{
    margin:.4em;
    line-height:1.35em;
  }
  h1{
    font-size:1.8rem;
  }
  
}